{% load static %}
<html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">

    <head>
        <title>Mayank's Blog</title>
    </head>
    <body>

        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
           <div class="navbar-header">
            <a class="navbar-brand" href="/">Mayank's Blog</a>
           </div>
           <ul class="nav navbar-nav">
            {% if user.is_authenticated %}

            <li class="active"><a href="{% url 'post_new' %}" ><span class="glyphicon glyphicon-plus"></span> Add</a></li>
            <li class ="active"><a href="{% url 'post_draft_list' %}" ><span class="glyphicon glyphicon-edit"></span> Drafts</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
         </ul>
        {% else %}
      </ul>
        <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-out"></span> Login</a></li>
    </ul>
  {% endif %}
     </div>
        </nav>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
